<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="Team2 is da best" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment=".git" />
                    <add segment="unit_test" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
